<!doctype html>
<html class="no-js" lang="">
<!-- headTag.ejs -->
<body>
    <!-- left.ejs -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- header.ejs-->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <!-- <div class="stat-widget-five"> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- scriptTag.ejs -->
</body>
</html>
