<!DOCTYPE html>
<html>

<head>
    <title>Test</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <div>
                    <label for="name">Your Name</label>
                    <br>
                    <input type='text' name='name' id='name' value=''/>
                    <button id='send'>Send</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="./js/socket.js"></script>

</html>