<!doctype html>
<html class="no-js" lang="">
<head>
    <%- include("modular/headTag") -%>
</head>

<body>
    <%- include("modular/leftAdmin") -%>
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <%- include("modular/headerAdmin") -%>
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row">
                    
                </div>
                <!-- /Widgets -->
            </div>
            <!-- .animated -->
        </div>
    </div>
</body>
    <%- include("modular/scriptTag") -%>

    <!-- Copy to clipboard -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script src="./js/copy.js"></script>
</html>
